<!DOCTYPE html>
<html>
  <head>
    <title>EngineSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('Projects', projects_path) %></li>
          <li><%= link_to('Users', users_path) %></li>
        </ul>
      </nav>
    </header>
    <div class='body'>
      <%= yield %>
    </div>
    <footer>
      &copy; <%= Time.now.year %> EngineSample
    </footer>
  </body>
</html>

